@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
}

@theme {
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #4b5563;
  --color-title: #111827;
  --color-subtitle: #374151;
  --color-border: #e5e7eb;
  --color-primary: #2563eb;
  --color-secondary: #10b981;


  --color-success-bg: #36b37e;
  --color-success-title: var(--color-title);
  --color-success-text: #e7f8f0;
  --color-success-subtitle: #d4f3e6;

  --color-warning-bg: #FFAB00;
  --color-warning-title: var(--color-title);
  --color-warning-text: #FFF5DA;
  --color-warning-subtitle: #FFF0C1;

  --color-danger-bg: #FF5630;
  --color-danger-title: var(--color-title);
  --color-danger-text: #FFEAE5;
  --color-danger-subtitle: #FFD7D1;

  --color-info-bg: #00B8D9;
  --color-info-title: var(--color-title);
  --color-info-text: #FFFFFF;
  --color-info-subtitle: #E0F9FD;
}

.light {
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #4b5563;
  --color-title: #111827;
  --color-subtitle: #374151;
  --color-border: #e5e7eb;
  --color-primary: #2563eb;
  --color-secondary: #10b981;

  --color-success-bg: #36b37e;
  --color-success-title: #ffffff;
  --color-success-text: #e7f8f0;
  --color-success-subtitle: #d4f3e6;

  --color-warning-bg: #ffab00;
  --color-warning-title: #ffffff;
  --color-warning-text: #fff5da;
  --color-warning-subtitle: #fff0c1;

  --color-danger-bg: #ff5630;
  --color-danger-title: #ffffff;
  --color-danger-text: #ffeae5;
  --color-danger-subtitle: #ffd7d1;

  --color-info-bg: #00b8d9;
  --color-info-title: #ffffff;
  --color-info-text: #e0f9fd;
  --color-info-subtitle: #c7f1f8;
}

.dark {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text: #9ca3af;
  --color-title: #f3f4f6;
  --color-subtitle: #d1d5db;
  --color-border: #2d2d2d;
  --color-primary: #60a5fa;
  --color-secondary: #34d399;

  --color-success-bg: #1e3d32;
  --color-success-title: #ffffff;
  --color-success-text: #b4f0d2;
  --color-success-subtitle: #8de2b7;

  --color-warning-bg: #3e2b00;
  --color-warning-title: #ffffff;
  --color-warning-text: #ffe9b5;
  --color-warning-subtitle: #ffd666;

  --color-danger-bg: #3b1c17;
  --color-danger-title: #ffffff;
  --color-danger-text: #ffc9c1;
  --color-danger-subtitle: #ffa299;

  --color-info-bg: #0c3a47;
  --color-info-title: #ffffff;
  --color-info-text: #b5edf8;
  --color-info-subtitle: #8fe0f0;
}
